// Colors
$primary-color: #fff;
$black: #000;
$white: #fff;
$overlay: #3a3a3a;
$gray: #848484;
$border-color:#d8dbdd;
$primary-font: 'butlerbold';
$secondary-font: 'bebas_neue_regular';
$icon-font: 'FontAwesome';
$text-color: $white;
$text-color-dark: #05091D;
$btn-color: #05091D;
$body-color: #000000a8;
// $body-color: #ec702e;
